*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    position: relative;
    overflow-x: hidden;
}
*{
    font-size: 17px;
}

.border{
    border: black 1px solid;
}
.primary-text{
    font-size:1.5em ; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    width: 95%;
    background-color: #f5f5f5;
    position: fixed;
    z-index: 10;
    top: 2%;
    left: 2.5%;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}
.head-message-text{
    font-size:2.5em ; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.primary-text-head{
    font-size: 2em;
}
.humberger img{
    width: 2rem;
    display: none;
}
.nav-item{
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content;
}
.nav-item a{
    padding: 0.5em;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
.nav-item a:hover{
    color: rgb(160, 154, 154);
}
.head-message{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('pexels-valeria-boltneva-1639565 (1).jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.head-text{
    position: absolute;
    top: 60%;
    left: 4%;
    color: white;
}
.row2{
    width: 100%;
    padding: 1em;
    margin: 3em 0;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-around;
}
.row2-image{
    width: 100%;
    background-image: url('pexels-bp-2739250 (1).jpg');
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.row2-text{
    text-align: center;
}
.row2-text-row2{
    margin: 1em 0;
    padding: 1em;
    border: 3px solid #6a197d;
    border-radius: 5px;
}
.Secondary-text{
    color: rgb(124, 117, 117);
    line-height: 1.5em;
}
.row-3{
    width: 100%;
    margin: 5em 0;
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: space-around;
}
.lable-title{
    color: rgb(194, 151, 121);
    background-color: rgb(238, 232, 227);
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 30px;
    margin-bottom: 1.5em;
}
.lable-head{
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2em;
}
.row-4{
    display: grid;
    grid-template-columns:  30%;
    justify-content: center;
    text-align: center;
}
.row-7{
    display: grid;
    width: 100vw;
    margin: 5vw 0;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.card{
    position: relative;
    height: 22vw;
    width: 22vw;
    margin: auto;
    overflow: hidden;
    overflow: hidden;
    border-radius: 5px;
}
.card img{
    width: 100%;
}
.card-text{
    position: absolute;
    opacity: 0;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition-property: all;
    transition-duration: 0.5s;
}
.card p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.card:hover .card-text{
    opacity: 1;
}
.row-5{
    margin: 3vw 0 1vw 0;
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
}
.row-5 div{
    padding: 1em;
}
.row-6{
    max-width: 700px;
    margin: auto;
}
.veg-menu{
    display: grid;
    padding: 0 1em;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
}
.non-veg-menu{
    display: grid;
    padding: 0 1em;
    grid-template-columns: max-content max-content;
    justify-content: space-between;

}
.no-menu{
    display: none;
}
.menu-item, .menu-item-price{
    padding: 0.5em 0;
}
.row-8{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.row-8-1 , .row-8-2{
    padding: 2em 3em;
}
.contact{
    font-size: 2rem;
}
input[type='text'], input[type='number'], input[type='email']{
    display: block;
    width: 100%;
    height: 2em;
    margin: 1em 0;
    border: none;
    border-bottom: 2px solid rgb(209, 207, 207);
}
input[type='text']:focus, input[type='number']:focus, input[type='email']:focus{
    outline: none;
    border-bottom: 2px solid #6a197d;
}
input[type='submit']{
    display: block;
    width: 25%;
    height: 2em;
    margin: 2em 0;
    background-color: black;
    color: white;
}
input[type='submit']:hover{
    background-color: rgb(51, 50, 50);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.row-8-2{
    padding: 2em 3em;
    margin: auto;
}
.row-8-2-text{
    margin: 1em 0;
}



@media (max-width: 768px){
    header{
        display: grid;
        grid-template-columns: 100%;
    }
    .header-main{
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        align-items: center;
    }
    .humberger img{
        display: inline-block;
    }
    .nav-item{
        display: none;
    }
    .nav-visible{
        display: grid;
        grid-template-columns: max-content;
        justify-content: center; 
        text-align: center; 
    }
    .row2{
        width: 100%;
        margin: 3em 0;
        padding: 1em;
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-around;
    }
    .row2-image{
        width: 100%;
        height: 300px;
        background-image: url('pexels-bp-2739250 (1).jpg');
        background-position: center;
        background-size: cover;
        border-radius: 5px;
    }
    .row-3{
        width: 100%;
        margin: 2em 0;
        display: grid;
        grid-template-columns: 70%;
        justify-content: center;
        text-align: center;
    }
    .lable{
        margin: 2em 0;
    }
    .row-4{
        display: grid;
        grid-template-columns:  70%;
        justify-content: center;
        text-align: center;
    }
    .row-7{
        display: grid;
        width: 100vw;
        margin: 5vh 0;
        grid-template-columns: 40% 40%;
        justify-content: space-evenly;
        text-align: center;
    }
    .card{
        position: relative;
        margin: 1.5em auto;
        width: 40vw;
        height: 40vw;
        overflow: hidden;
        overflow: hidden;
        border-radius: 5px;
    }
    
   
}
@media (max-width: 576px){
    *{
        font-size:14px;
    }
    .row-7{
        display: grid;
        width: 100vw;
        margin: 5vh 0;
        grid-template-columns: 75%;
        justify-content: space-evenly;
        text-align: center;
    }
    .card{
        position: relative;
        margin: 1.5em auto;
        width: 75vw;
        height: 75vw;
        overflow: hidden;
        overflow: hidden;
        border-radius: 5px;
    }
    .row-8{
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
    }
}
@media (min-width: 577px) and (max-width: 768px){
    *{
        font-size:14px;
    }
}
@media (min-width: 769px) and (max-width: 992px){
    *{
        font-size:16px;
    }
    
}
@media (min-width: 993px) and (max-width: 1200px){
    *{
        font-size:16px;
    }
}
/* @media (min-width: 1201px) {
    .primary-text{
        font-size:20vw ; 
    }
} */


























